@media only screen and (min-width:1225px)
{

	.left
	{
		padding-left:5rem;
		padding
	}

	#header > img
	{
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		padding-left: 1.5rem;
		padding-right: 1rem;	
	}

	.hamburger
	{
		visibility: hidden;
	}

	#page-content
	{
		min-height: 100vh;
	}

	#page-content > img
	{	
		width: 600px;
		margin:9rem 0 0 5rem;
		padding-bottom: 0;
	}

	.head-d-button
	{
		font-size: 1rem;
		margin:0 1.5rem;
	}

	nav
	{
		
		display: inline-block;
		float: right;
		margin-right: 1.5rem;
	}

	nav > ul > li
	{
		display: inline-block;
		padding:1rem 1.5rem;
	}

	nav > ul > li:nth-child(5)
	{
		padding:0.5rem 1.5rem;
		
	}

	/*#page-content > p
	{	
		padding: 0;
		font-size: 2.25rem;
		text-align: left;
		margin:0 0 0 5rem;

	}

	#page-content > #d-button
	{
		padding: 1rem 5rem;
		margin-left: 5rem;
	}
	
	#family-intro-text 
	{
		width:50%;
	}

	#family-intro-text > h3
	{
		font-size: 1.5rem;
	}*/

}