@media only screen and (min-width:1225px)
{

	.title-text
	{
		font-size:1.75rem;
	}

	.subtitle-text
	{
		font-size:1.5rem;
	}

	/*.desk-left
	{
		margin-left: 1rem;	
	}	*/

	.button-dark
	{
		margin-left:7rem;
	}

	.article-container-mob
	{
		/*display: flex;*/
		/*flex-direction: column;*/
		/*width:100%;*/
		/*margin:0;*/
		/*text-align: center;*/
		align-items: flex-start;
		/*padding:1.5rem 0;*/
	}

	.article-title
	{
		width: 100%;
	}

	.desk-left
	{
		padding-left:5rem;
	}

	.desk-right
	{
		padding-right:3rem;
	}

	#header > img
	{
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		padding-left: 1.5rem;
		padding-right: 1rem;	
	}

	.hamburger
	{
		visibility: hidden;
	}

	#page-content
	{
		min-height: 100vh;
	}

	#page-content > img
	{
		padding-top: 11rem;
		width: 600px;
		height: auto;
	}

	#tagline
	{
		font-size: 2rem;
		padding-bottom: 2rem;
		
	}

	.button-dark
	{
		font-size: 1.75rem;

	}

	.head-d-button
	{
		font-size: 1rem;
		margin:0 1.5rem;
	}

	nav
	{
		display: inline-block;
		float: right;
		margin-right: 1.5rem;
	}

	nav > ul > li
	{
		display: inline-block;
		padding:1rem 1.5rem;
	}

	nav > ul > li:nth-child(5)
	{
		padding:0.5rem 1.5rem;
		
	}



	#family-intro
	{
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
		text-align:left;
	}

	#family-intro-text
	{
		display:flex;
		flex-direction: column;
		flex-grow:3;
		align-items: flex-start;
	}

	#u-button
	{
		margin-left:1rem;
	}

	#family-sample
	{
		flex-grow:1;
	}

	.family-box
	{
		text-align: center;
		margin: 0 1.5rem;
	}

	.box
	{
		border-radius: 0.5rem;
		width: 9rem;
		height: 6rem;	
	}

	.box >img
	{
		border-radius: 0.5rem;
		width: 9rem;
		height: 6rem;
	}

	.text
	{
		font-size: 1.25rem;
		font-weight: 500;
		padding-top:0.5rem;
	}

	#family-info
	{
		flex-direction:row-reverse;
	}

	#family-info
	{
		flex-direction: row-reverse;
	}
		
	.family-box
	{
		margin: 0 1.5rem;
	}

	#app-intro
	{
		
		width:60%;
		text-align: left;
		padding-right: 6rem;
	}

	.square-set
	{	
		width:45%;
	}

	.square-set > .square
	{
		width:5rem;
		height:5rem;
	}

	.square > img
	{
		width:4rem;
		height:4rem;
	}

	#wibe-intro 
	{
		flex-direction: row-reverse;
	}
	
	#wibe-intro > div
	{
		width:60%;
		text-align: left;
	}

	.mock-up
	{
		width:25%;
	}

	#in-touch-page
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.desk-positioning  
	{
		left: 15rem;
		right: 15rem;
	}

	#gaming-page
	{
		display: flex;
		flex-direction: row;
		text-align: left;
		/*align-items: center;*/
	}

	#gaming-page > div
	{
		width: 50%;
		margin-left: 3rem;
	}

	#gaming-page > img
	{
		position: relative;
		left: 7rem;
	}

	#feature-page
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#feature-page > div
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	#feature-card 
	{
		flex-direction: row;
		font-size: 1.75rem;
		flex-wrap: wrap;
		padding: 1.5rem;
		width: 100%;
	}
	
	#feature-card > span
	{
		width: 20%;
	}

	#get-app
	{
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#links
	{
		justify-content: center;

	}
	#links div
	{
		margin:0 3rem;
	}

	#media
	{
		justify-content: center;
	}

	#media div
	{
		margin:0 3rem;
	}

}