<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Floating Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesapp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./floatingbutton.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500|Raleway" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    
    <div class="floating-button">
        <a href="#">
            <div class="button-container">
                <img class="button" src="./img/left-arrow.png" alt=">">
            </div>
        </a>
    </div>

</body>
</html>