body
{
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

.poppins
{
    font-family: 'poppins', sans-serif;
}

.raleway
{
    font-family: 'raleway', sans-serif;
}

.landing-page
{
    
    background-image: linear-gradient(150deg, #19B5FE, #26C281);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #996633;
    position: fixed;
    top: 0;
    height: 3.5rem;
    width: 100%;
    z-index:99;
}

.logo-text
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-container
{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    flex-shrink: 0;
}

.logo-container > img
{
    width: 100%;
    height: 100%;
}

.header-title
{
    color: #f2f2f2;
    font-size: 1.25rem;
    font-weight: 600;
    flex-shrink: 0;
    padding: 1rem 0;
}

.nav-toggle 
{
    z-index: 1000;
    cursor: pointer;
}

.hamburger 
{
    top: 0;
    margin: 0;
    padding: 1rem;
}

.hamburger span 
{
    background: #fff;
    display: block;
    /* position: absolute; */
    height: 2px;
    margin-bottom: 6px;
    transform: rotate(0deg);
    transition: all .4s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 1;
    width: 1.75rem;
    right: 1rem;
}

/* .hamburger span:nth-child(1) {
    top: 16px;
  }
  .hamburger span:nth-child(2) {
    top: 22px;
  }
  .hamburger span:nth-child(3) {
    top: 28px;
  } */

.hamburger.open span:nth-child(1) 
{
    /* top: 3px;   */
    transform: rotate(30deg);
    width: 50%;
    /* margin-bottom: 0; */
}

.hamburger.open span:nth-child(3) 
{
    /* top: 9px;  */
    transform: rotate(-30deg);
    width: 50%;
    /* margin: 0; */
}

nav
{
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition:  all .25s ease-out;
    background-color: #19B5FE;
    animation-name: nav-color-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@keyframes nav-color-anim 
{
    0% {background-color: #26C281;}
    50% {background-color: #19B5FE;}
    100% {background-color: #26C281;} 
}

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li
{
    transform: translate3d(40px, 0, 0);
    opacity: 0;
    transition:  all .4s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 1.125rem 1rem;
}

.nav-open nav
{
    transform: translate3d(0, 0, 0);
    transition:  all .4s ease;
}

.nav-open nav li 
{
    transform: translateY(0);
    opacity: 1;
}

.nav-open nav li:nth-child(1) 
{
    transition-delay: 200ms;
}

.nav-open nav li:nth-child(2) 
{
    transition-delay: 300ms;
}

.nav-open nav li:nth-child(3) 
{
    transition-delay: 400ms;
}

.nav-open nav li:nth-child(4) 
{
    transition-delay: 500ms;
}

.nav-open nav li:nth-child(5) 
{
    transition-delay: 600ms;
}

.nav-open nav li:nth-child(6) 
{
    transition-delay: 700ms;
}

.nav-open nav li:nth-child(7) 
{
    transition-delay: 800ms;
}

nav a
{
    color: #f2f2f2;
    font-size: 1.25rem;
    text-decoration: none;
}