<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WibesApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesapp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesappbig.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500|Raleway" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
    
    <div class="wibesapp-solutions">


                    <!-- Landing Page -->

            
        <div class="landing-page">

            <div class="header">
                <div class="logo-text">
                    
                    <div class="logo-container">
                        <img src="./img/wibesapp-logo.png" alt="W">
                    </div>

                    <div class="header-title">
                        <a href="#"><div class="raleway">WibesApp</div></a>
                    </div>

                </div>
            
                <div class="nav-toggle hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="raleway">
                    <ul>
                        <li><a href="#About">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Our Platforms</a></li>
                        <li><a href="#">Why ?</a></li>
                        <li><a href="#">Our Crew</a></li>
                        <li><a href="#">Well Come Here</a></li>
                        <li><a href="#">Get in Touch</a></li>
                    </ul>
                </nav>
            </div>

            <div class="content-container flex-column">
                <div class="company-container raleway">
                    <div class="name-container">
                        <div class="company-name">WibesApp Solutions</div>
                    </div>
                    <div class="tag-container poppins">
                        <div class="tag-line">Engineering Indian Businesses Transcend into the Digital Era</div>
                    </div>
                </div>

                <div class="meaning-container">
                    <div class="engi-container">
                        <div class="engineering">engineering</div>
                        <div class="engi-spani">/ɛndʒɪˈnɪərɪŋ/</div>
                        <div class="noun"><i>noun</i></div>
                        <div class="meaning">the action of working artfully to bring something about the way it needed to be.</div>
                    </div>
                </div>
            </div>

            <div>
                <a href="#">
                    <div class="button-container" style="background-color: #ffffff30;">
                        <img class="button" src="./img/left-arrow.png" alt=">">
                    </div>
                </a>
            </div>
        </div>


                    <!-- AboutUs Page -->


        <div class="aboutus-page flex-column">
            <div class="page-heading raleway">About Us</div>
            
            <div class="info-container poppins">
                <div class="info">
                    We are a group of Passionate Engineers,Creative Designers, DIY Tinkerers, 
                    Technology Enthusiasts and Response able Humans working together for 
                    supporting Start-ups, Small & medium scale businesses mark their presence 
                    in the digital marketplace.
                    <br/><br/>
                    <b>WibesApp Solutions</b> offers a single point contact for all your 
                    <b>Design</b>, <b>Development</b> and <b>Digital Marketing</b> Needs. 
                    By bringing the Creative, Technical and Business worlds under one roof 
                    we offer services to our Clients with various Products, Services and our 
                    collaborations.
                    <br/><br/>
                    <i>
                    "We work on ourselves, in order to help others. <br/>
                    We help others, in order to work on ourselves."
                    </i> 
                </div>
            </div>

            <div>
                <a href="#">
                    <div class="button-container"> 
                        <img class="button" src="./img/left-arrow.png" alt=">">
                    </div>
                </a>
            </div>
        </div>


                    <!-- Our services Page -->


        <div class="services-page flex-column">
            <div class="page-heading raleway">Our Services</div>
            
            <div class="cards-container">
                <div class="service-cards">
                    <div class="card-structure">
                        <div class="thumbnail-container">
                            <div class="thumbnail"></div>
                        </div>
                        
                        <div class="title-container">
                            <div class="service-name raleway">PSYNIK Team</div>
                        </div>
                        
                        <div class="details-container">
                            <div class="details poppins">
                                A Dedicated team of Creative Designers and Skill-full 
                                App Developers at your service
                            </div>
                        </div>
                    </div>

                    <div class="card-structure">
                        <div class="thumbnail-container">
                            <div class="thumbnail"></div>
                        </div>
                        
                        <div class="title-container">
                            <div class="service-name raleway">Well Come Here</div>
                        </div>
                        
                        <div class="details-container">
                            <div class="details poppins">
                                A partner who does more than just Branding and Marketing 
                                Start-ups, who are committed to  solving an addressable 
                                problem in our society.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="#">
                    <div class="button-container"> 
                        <img class="button" src="./img/left-arrow.png" alt=">">
                    </div>
                </a>
            </div>
        </div>


                    <!-- Our Platforms Page -->


        <div class="platforms-page flex-column">
            <div class="page-heading raleway">Our Platforms</div>
            <div class="cards-container">
                <div class="card-structure">
                    <div class="thumbnail-container">
                        <div class="thumbnail"></div>
                    </div>
                    <div class="title-container">
                        <div class="platform-name raleway">IdYa Hub</div>
                    </div>
                    <div class="details-container">
                        <div class="details poppins">
                            Empowering Young Indian Minds in Making Their Passion Their Paycheck.
                        </div>
                    </div>
                </div>

                <div class="card-structure">
                    <div class="thumbnail-container">
                        <div class="thumbnail"></div>
                    </div>
                    <div class="title-container">
                        <div class="platform-name raleway">Wibesapp</div>
                    </div>
                    <div class="details-container">
                        <div class="details poppins">
                            First Ever Response-able Frank Media for India and the World.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="#">
                    <div class="button-container"> 
                        <img class="button" src="./img/left-arrow.png" alt=">">
                    </div>
                </a>
            </div>      
        </div>


                    <!-- Why Page -->


        <div class="why-page flex-column">
            <div class="page-heading raleway">Why ?</div>
            <div class="info-container poppins">
                <div class="info">
                    Its been three generations approximately by now after the British 
                    left our India and slowly the hangover of fear of taking risks to 
                    dream big is slowly x out
                </div>
            </div>

            <div>
                <a href="#">
                    <div class="button-container"> 
                        <img class="button" src="./img/left-arrow.png" alt=">">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>
        $('.nav-toggle').click(function(e)
        {
            $('.button-container').toggleClass('hiding');
            $(this).toggleClass('open');
            $('.landing-page').toggleClass('nav-open');
        });
    </script>

    
    
</body>
</html>