<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Our Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesapp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./servicespage.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500|Raleway" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    
    <div class="services-page flex-column">
        <div class="page-heading raleway">Our Services</div>
        
        <div class="cards-container">
            <div class="service-cards">
                <div class="card-structure">
                    <div class="thumbnail-container">
                        <div class="thumbnail"></div>
                    </div>
                    
                    <div class="title-container">
                        <div class="service-name raleway">PSYNIK Team</div>
                    </div>
                    
                    <div class="details-container">
                        <div class="details poppins">
                            A Dedicated team of Creative Designers and Skill-full 
                            App Developers at your service
                        </div>
                    </div>
                </div>

                <div class="card-structure">
                    <div class="thumbnail-container">
                        <div class="thumbnail"></div>
                    </div>
                    
                    <div class="title-container">
                        <div class="service-name raleway">Well Come Here</div>
                    </div>
                    
                    <div class="details-container">
                        <div class="details poppins">
                            A partner who does more than just Branding and Marketing 
                            Start-ups, who are committed to  solving an addressable 
                            problem in our society.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>