<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Why ?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesapp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./whypage.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500|Raleway" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="why-page flex-column">
        <div class="page-heading raleway">Why ?</div>
        <div class="info-container poppins">
            <div class="info">
                Its been three generations approximately by now after the British 
                left our India and slowly the hangover of fear of taking risks to 
                dream big is slowly x out
            </div>
        </div>

    </div>
</body>
</html>