body
{
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

.poppins
{
    font-family: 'poppins', sans-serif;
}

.raleway
{
    font-family: 'raleway', sans-serif;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.why-page
{
    background-color: #D5AB80;
}

.page-heading
{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    color: #654321;
}

.info-container
{
    padding: 1rem;
}

.info
{
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFFFFF;
    text-align: left;
}

/* .info > i
{
    font-size: 0.75rem;
} */