<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Why ?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./wibesapp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./whypage.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500|Raleway" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="why-page flex-column">
        <div class="page-heading raleway">Why ?</div>
        <div class="info-container poppins">
            <div class="info">
                Our purpose to start this company as a start-up roots itself in 
                actually solving the problems we faced ourselves in shaping our own 
                Start-ups and other Businesses.
                <br/><br/>
                We are consciously discriminating start-up Businesses <b>then</b> and 
                <b>today</b> is to make it evidently clear about : How our Society today, 
                which is now slowly emerging from the hangover of <i>British Rule in India</i>  
                have absorbed a <i>protective mindset</i> to not be bold enough to have any 
                Disruptive innovation nor have the courage to take risks.
                <br/><br/>
                Its been approx. 3 generations after independence having the necessary 
                understanding and support system our <b><i>young Indians today</i></b> with the conviction 
                to venture out on their own and who have the courage to enter an environment 
                of risk are for sure rapidly emerging and if we <b>work together</b>, 
                that would be a Wonderful opportunity for an <b><i>Inclusive Business</i></b> and 
                Upliftment of <b><i>Our Mother India</i></b>.
                      
            </div>
        </div>

    </div>
</body>
</html>